.modal {
  --modal-backdrop-color: rgb(19 19 19 / 75%);
  --modal-background: rgb(0, 0, 0, 0.5); /* stylelint-disable */
  --modal-z-index: 1000;
  --modal-content-max-width: 88rem;
}

body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: var(--modal-backdrop-color);
}

dialog {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: var(--corp-spacing-20) 0;
  background: var(--modal-background);
  border: none;
  box-sizing: border-box;
  overflow: hidden;
}

dialog[open] {
  overflow: scroll;
}

.modal-content {
  position: relative;
  background: transparent;
  width: 100%;
  max-width: var(--modal-content-max-width);
  overflow: hidden;
}

.modal-content .cta.popup-close {
  float: right;
}

.modal-content .grid-container {
  background-color: var(--color-white);
}

.modal-content :where(.cta.popup-close):focus-visible {
  outline: none;
  box-shadow: none;
}

/** Only for Mobile */
@media (--bp-mobile-max) {
  .modal-content .grid-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--corp-spacing-20);
    padding-right: var(--corp-spacing-20);
  }

  .modal-content .grid-container:first-child {
    padding-top: var(--corp-spacing-20);
  }

  .modal-content .grid-container:last-child {
    padding-bottom: var(--corp-spacing-32);
  }

  .modal-content .grid-section .text-container {
    margin-bottom: 0;
    padding-bottom: var(--corp-spacing-32);
  }

  .section.grid-container {
    row-gap: 0;
  }
}

.modal-content .grid-container:last-child {
  margin-top: calc(-1 * var(--px-to-rem));
}

@media (--bp-tablet) {
  dialog {
    padding-top: var(--corp-spacing-300);
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
